* {
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: DodgerBlue;
    color: #fff;
}
input[type="button"] {
    background-color: DodgerBlue;
    color: #fff;
}
#select-course-block {
    margin-bottom: 0.5em;
}
.jumbotron {
    margin-left: 1rem;
    margin-right: 1rem;
}
#collegeListContainer {
    margin-top: 0;
    margin-bottom: 1rem;
}
.selectize-input {
    height: calc(1.5em + 0.75rem + 2px) !important;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    line-height: 1.3;
}
.jumbo {
    padding-left: 1em;
}
.row {
    padding-left: 1em;
    padding-right: 1em;
}
.logotext {
    font-size: 35px;
    font-weight: 600;
    background: -webkit-linear-gradient(#d43030, #205fdd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body {
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f9fbfd;
}
