<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <header class="cd-main-header text-center flex flex-column flex-center">
    <h1 margin-top="20px" class="text-xl">Schedule Template</h1>
  </header>

  <div class="cd-schedule__events">
    <ul>
      {% for semester in semesters %}
      <li class="cd-schedule__group">
        {% if semester == 0 %} 
        <div class="cd-schedule__top-info"><span>Pre-College Credits</span></div>
        {% else %}
        <div class="cd-schedule__top-info"><span>Semester {{ semester }} </span></div>
        {% endif %}
        <ul>
           {% for course in data[semester] %}
              <li class="cd-schedule__event">
                <a data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-{{ loop.index }}" href="#0">
                  <em class="cd-schedule__name">{{ course }}</em>
                </a>
              </li>
            {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>  
  
    <div class="cd-schedule-modal">
      <header class="cd-schedule-modal__header">
        <div class="cd-schedule-modal__content">
          <span class="cd-schedule-modal__date"></span>
          <h3 class="cd-schedule-modal__name"></h3>
        </div>
  
        <div class="cd-schedule-modal__header-bg"></div>
      </header>
  
      <div class="cd-schedule-modal__body">
        <div class="cd-schedule-modal__event-info"></div>
        <div class="cd-schedule-modal__body-bg"></div>
      </div>
  
      <a href="#0" class="cd-schedule-modal__close text-replace">Close</a>
    </div>
  
    <div class="cd-schedule__cover-layer"></div>
  </div> <!-- .cd-schedule -->
</body>
</html>